::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  margin-top: 5px;
  margin-bottom: 5px;
}

::-webkit-scrollbar-thumb {
  background: #1d1c1d85;
  border-radius: 20px;
  height: 100px;
  transform: translateY(224px);
  opacity: 1;
}

::-webkit-scrollbar-thumb:hover {
  transition: opacity 0.1s 0.5s;
}

.messages-container {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: calc(70%);
  background-color: #fff;
  position: relative;
}

textarea {
  width: 100%;
  resize: none;
  border-style: none;
  box-sizing: border-box !important;
  padding: 12px;
  line-height: 1.46668;
  font-size: 15px !important;
}

.chat-header {
  align-items: center;
  border-bottom: 1px solid #e4e3e3;
  display: flex;
  height: 49px;
  padding: 0 16px 0 20px;
  background-color: #fff;
  justify-content: space-between;
}

.chat-header-cont {
  display: flex;
  font-size: 18px;
  font-weight: 900;
  line-height: 1.33334;
}

#chat-box {
  position: absolute;
  bottom: 30px;
  width: 100%;
  box-shadow: 1px 0 0 0 rgba(29, 28, 29, 0.13);
  background: inherit;
  font-family: "Lato", sans-serif;
  display: flex;
  justify-content: center;
  margin-top: 2px;
}

.chat-cont {
  width: 100%;
  margin: 0 16px 0 20px;
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  border-color: rgba(21, 20, 21, 0.295);
}

.top-chat {
  background: rgba(248, 248, 248, 1);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  cursor: text;
  display: flex;
  width: 100%;
  flex-grow: 1;
  position: relative;
  height: 30px;
  padding: 12px 12px;
  box-sizing: border-box;
}

.bottom-chat {
  padding: 4px 12px 6px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.send-msg-cont {
  display: flex;
  border-radius: 4px;
  align-items: center;
  opacity: 0.3;
}

.send-msg-cont button {
  padding: 4px 8px;
}

.send-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.send-msg-cont.ready {
  background-color: #007a5a;
  color: #fff;
  opacity: 1;
  transition: all 80ms linear;
}

.send-msg-cont.ready:hover {
  background-color: #148567;
}

.send-msg-cont.ready:active {
  transform: scale(0.95);
}

.members-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid rgba(221, 221, 221, 1);
  border-radius: 5px;
  height: 30px;
  background-color: #fff;
  padding: 2px 10px;
  font-size: 14px;
}

#shift-enter-cont {
  position: absolute;
  bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 16px;
  font-size: 11px;
  color: #1d1c1db3;
  right: 5px;
}

#shift-enter-span {
  font-weight: 700;
}

.emoji-icon {
  cursor: pointer;
}

.emoji-picker-box {
  position: absolute;
  bottom: 75px;
}
