.messages-container {
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: calc(75vh);
}

textarea {
  border-radius: 8px;
  border-color: rgba(var(--sk_foreground_low, 29, 28, 29), 0.13);
}

.chat-header {
  align-items: center;
  box-shadow: 0 1px 0 0 rgba(29, 28, 29, 0.13);
  display: flex;
  flex-shrink: 0;
  height: 49px;
  padding: 0 16px 0 20px;
}

#chat-box {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 8px 20px !important;
  box-shadow: 1px 0 0 0 rgba(29, 28, 29, 0.13) !important;
  background: inherit;
  height: 49px;
}

chat-cont {
  padding-right: 50px !important;
}
