.app-container {
  font-family: "Lato", sans-serif;

  height: 100%;
}

.app-nav {
  background: #350d36;
  box-shadow: 0 1px 0 0 rgb(255 255 255 / 10%);
  height: 5.7vh;
  align-items: center;
  display: flex;
  justify-content: center;
  min-width: 0;
  position: relative;
  z-index: 203;
}

.nav-left-side {
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: flex-end;
  min-width: 128px;
  padding-left: 16px;
  padding-right: 20px;
}

.app-search-cont {
  display: flex;
  flex: 2;
  max-width: 732px;
  min-width: 0;
}

.app-search-bar {
  align-items: center;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 6px;
  color: #ffffff;
  display: flex;
  flex: 5;
  flex-direction: row-reverse;
  height: 24px;
  justify-content: space-between;
  max-width: 732px;
  min-width: 0;
  padding: 0 8px;
}

.app-search-bar:hover {
  background-color: rgba(255, 255, 255, 0.23);
}

.nav-right-side {
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: flex-end;
  min-width: 128px;
  padding-left: 32px;
  padding-right: 16px;
  position: relative;
}

.app-main-cont {
  display: flex;
  height: 94.3vh;
}

.hide {
  display: none;
}

.profile-img img {
  height: 26px;
  width: 26px;
  border-radius: 4px;
}

.profile-img-cont {
  position: relative;
  cursor: pointer;
}

#online-sign {
  background-color: #2bac76;
  height: 10px;
  width: 10px;
  border: 3.5px solid #350d36;
  border-radius: 50%;
  position: absolute;
  -webkit-text-stroke-color: #350d36;
  bottom: -4px;
  right: -8px;
}

.profile-popup {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid rgba(221, 221, 221, 1);
  border-radius: 5px;
  height: 30px;
  background-color: #fff;
  right: 15px;
  top: 21px;
  padding: 2px 10px;
  width: 70px;
  position: absolute;
}
