.app-side-bar {
  width: 19vw;
  background-color: #3f0e40;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 15px;
}

.workspace-header:hover,
.channel-item.hover:hover,
.dm-item.hover:hover,
.square-btn-sidebar:hover,
.channel-item-header:hover,
.dm-item-header:hover {
  background: #350d36;
  cursor: pointer;
}

.channel-item {
  display: flex;
  align-items: center;
}

.workspace-header,
#extras-section {
  border-bottom: 1px solid rgb(82, 38, 83);
}

.workspace-header-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 1.33334;
  min-height: 50px;
}

#works-name {
  font-weight: 900;
  font-size: 18px;
  color: #fff;
}

.write-btn {
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
}

.write-btn:active {
  background: rgb(232, 226, 232);
  transform: scale(0.95);
}

.write-btn svg {
  height: 16px;
  width: 16px;
}

.workspace-header > div {
  padding: 0 16px;
}

#extras-section div,
#channel-section .channel-item,
.channel-item-header,
#dm-section .dm-item,
.dm-item-header {
  padding: 0 16px;
  height: 28px;
  line-height: 28px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.dm-item.side-bar {
  display: flex;
  align-items: center;
  padding: 0 12px !important;
}

.dm-users.side-bar {
  margin-left: 6px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.channel-item-header,
.dm-item-header {
  padding: 0 12px 2px;
}

.square-btn-sidebar {
  padding: 3px 6px;
  border-radius: 4px;
  margin-right: 6px;
}

.square-btn-sidebar.plus {
  background: rgba(255, 255, 255, 0.1);
  padding: 2px 6px;
}

#channel-section,
#dm-section,
#extras-section,
span {
  color: #ffffffb3;
}

#channel-section,
#dm-section,
#extras-section {
  padding-top: 9px;
  padding-bottom: 9px;
}

.sidebar-footer {
  border-top: 1px solid rgba(255, 255, 255, 0.13);
  padding: 0 13px;
  height: 50px;
  display: flex;
  align-items: center;
  color: #ffffffb3;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  font-size: 15px;
}

.sidebar-footer p {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.hide {
  display: none;
}

.new-message,
.new-dm-message {
  font-weight: 900;
  color: #fff;
}

.selected {
  background: #1164a3;
  color: #fff;
}

.selected:hover {
  background-color: none;
}

.dm-item-container {
  position: relative;
}

#dm-notification-badge {
  display: inline-block;
  color: #fff;
  background-color: #e01e5a;
  font-weight: 700;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 10px;
  font-size: 14px;
  padding: 0 10px;
  line-height: 20px;
  vertical-align: bottom;
  z-index: 88;
}

.dm-img-container {
  position: relative;
}

.dm-item.side-bar {
  position: relative;
}

.dm-users-count {
  position: absolute;
  bottom: 2px;
  left: 20px;
  border-radius: 4px;
  font-size: 11px;
  vertical-align: center;
  font-weight: 700;
  height: 14px;
  text-align: center;
  width: 14px;
  background: #4f2e50;
}

.transparent-bg {
  background: #3b719b;
  color: #fff;
}
