.new-msg-search-container {
  align-items: center;
  display: flex;
  flex-shrink: 0;
  height: 49px;
  padding: 0 16px 0 20px;
  background-color: #fff;
  box-shadow: 0 1px 0 0 rgba(29, 28, 29, 0.13), 0 4px 15px -2px #0000003e;
}

.new-msg-search {
  display: flex;
  width: 100%;
  align-items: center;
}

.to-new-msg {
  color: #616061;
  font-size: 15px;
}

.search-input {
  flex: 1 1 100%;
  max-height: 130px;
  padding: 0 26px 0 12px;
}

.search-input::placeholder {
  overflow: visible;
}

.selected-user {
  font-size: 15px;
  margin-left: 6px;
  background: #1d9bd11a;
  border-radius: 4px;
  font-weight: 700;
  padding-right: 4px;
  white-space: nowrap;
  display: flex;
  align-items: center;
  line-height: 26px;
}
